<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>float.html</title>
  <style>
    img {width: 150px; height: 150px; float: inline-start;}
    .left {float: left; width: 100px; height: 100px; background-color: aquamarine;}
    .right {float: right; 
      /* width: 100px; height: 100px;  */
      background-color: aqua;}
    .clear {clear: both;}
  </style>
</head>
<body>
  <img src="../../a_html/images/sea1.jpg" alt="sea" />
  <p>[스포티비뉴스=장하준 기자] 토트넘 홋스퍼 이적이 확정됐다.

    토트넘은 28일(한국시간) 공식 홈페이지를 통해 강원FC의 측면 공격수인 양민혁 영입을 발표했다. 동시에 양민혁은 강원의 김병지 대표이사와 함께 구단 유튜브 라이브에 출연해 이적 과정을 상세히 설명했다. 양민혁의 이번 이적은 역대 유럽으로 직행한 K리거 중 최고 이적료를 기록한 것으로 알려졌다.
  </p>
  <p >
    김병지 이사는 "양민혁은 지난 4월부터 유럽클럽들의 관심을 받았다. 이중에는 잉글랜드 프리미어리그의 빅클럽도 있었고, 토트넘은 5월 말에 제안을 건넸다. 프리미어리그로 승격한 팀과 스페인의 빅클럽도 있었다"라고 설명했다.
    
    이어서 "양민혁을 프로 계약으로 전환한 것은 이적 때문이 아니었으며, 토트넘보다 더 좋은 조건을 제안한 팀도 있었다. 하지만 양민혁이 토트넘을 강력히 원했다. 이적료는 정확하게 밝힐 수 없지만 역대 K리그에서 유럽으로 직행한 선수 중 가장 이적료가 높다"라고 언급했다.
  </p>

    <hr />
    <div class="left">왼쪽에 뜨는 요소</div>
    <div class="right">오른쪽에 뜨는 요소</div>
    <div class="clear"> float 해제 </div>
</body>
</html>