body {
  background-color: #F0F4F8;
  color : #333;
  margin: 0;
  padding: 0;
  /*
  display : flex 설정시
  직접적인 자식 요소만 flex 아이템
  >> dis (class명 container)
  */
  /* 직접적인 자식 요소에 대한 배치 */
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* 컨테이너 스타일 */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-size: 24px;;
  color: #007ACC;
}
#task-count {
  font-size: 16px;
  margin-bottom: 10px;
  color: #007ACC;
}
#task-input {
  width: calc(100% - 50px);
  padding: 10px;
  border: 2px solid #007ACC;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
#add-button {
  background-color: #007ACC;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: bacground-color 0.3 ease;
  margin-bottom: 10px;
}
#add-button:hover {
  background-color: #005F99;
}
#task-list {
  margin-top: 10px;
  list-style: nonew;
  padding: 0;
  margin: 0;
}
#task-list li {
  background-color: #E6F2FF;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  /* li 태그가 동적으로 생성되어 추가 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}
#task-input li:hover {
  background-color: #CCE0FF;
}
#task-list input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}
#task-list button {
  background-color: #FF5C5C;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#task-list button:hover {
  background-color: #E60000;
}
/* #task-list li.completed {
  text-decoration: line-through;
  color: #666;
  background-color: #D3E0EA;
} */